<div class="centerAlignPosition btm-top-margin50">
    @if (ViewBag.Authorized != null)
    {

        <label> @ViewBag.Authorized</label>

    }
    @if (ViewBag.Complete != null)
    {

        <label>@ViewBag.Complete</label>

    }

</div>

