<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="CBUSA" connectionString="Data Source=tcp:cbusa.database.windows.net,1433;Initial Catalog=CBUSA;persist security info=True;user id=medullus@cbusa;password=AnR(99fM;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
	  <add name="CBUSA" connectionString="Data Source=tcp:cbusatest.database.windows.net,1433;Initial Catalog=CBUSANCPTst;persist security info=True;user id=ncptest@cbusatest.database.windows.net;password=p@ssw0rd;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	  <!--<add name="CBUSA" connectionString="Data Source=115.187.63.244,1433;Initial Catalog=CBUSA;persist security info=True;user id=sa;password=Today123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="CBUSA" connectionString="Data Source=.;Initial Catalog=CBUSA_15042018;persist security info=True;user id=sa;password=medullus;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="KeyString" value="o7x8y6" />
    <!--<add key="Email" value="courtworksuk@gmail.com"/>
    <add key="Password" value="courtsworks"/>-->
    <add key="Email" value="rcsamrat13@gmail.com" />
    <add key="Password" value="samrc123" />
    <add key="MailServer" value="smtp.gmail.com" />
    <add key="MailPort" value="587" />
    <add key="IsSSLEnabled" value="true" />
    <add key="CourtWorksAdminEmail" value="akumar@medullus.com" />
    <add key="PasswordPhase" value="CourtWorksAG" />
    <add key="SendEmailApiUrl" value="http://medullus.ddns.net:3080/medullussendmailservice/api" />
    <add key="SendEmailMethod" value="MedullusSystemsSendMailAPI" />
    <add key="SendEmailClientId" value="1" />
    <add key="SendEmailPassword" value="ViP@739_" />
    <add key="SendEmailUserName" value="cbusa@emailsender" />
    <add key="ApiKey" value="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" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />

    <add key="JsVersion" value="2" />
    <add key="JsVersionTakeSurvey" value="6" />
	  
	  <add key="RecaptchaPrivateKey" value="6LfvsAcUAAAAAI-aYPQczwVghLHoGLX4aMpOgnlj" />
    <add key="RecaptchaPublicKey" value="6LfvsAcUAAAAADNvCMQSfkmcvyb25JmsTPRhutIF" />
    
    <add key="aspnet:MaxJsonDeserializerMembers" value="160000" /> <!--JSON Request max length deserialization-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms requireSSL="true" loginUrl="/Admin/Account/Login" />
    </authentication>
    <sessionState cookieless="true" regenerateExpiredSessionId="true" />
    <!--<httpCookies requireSSL="true" />-->
    <customErrors mode="RemoteOnly" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>

    <!--ForElmah-->
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>

    <!--End-->
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <staticContent>
      <!--<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />-->
    </staticContent>
    <modules>
      <remove name="FormsAuthenticationModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <!--ForElmah-->
    <handlers>
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </handlers>
    <!--End-->
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
		</dependentAssembly>		
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--ForElmah-->
  <elmah>
    <security allowRemoteAccess="1" />
    <!--  DefaultConnection is the name of database connection string -->
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="CBUSA" />
    <!--add this-->
    <errorMail from="mstn@medullus.com" to="abasu@medullus.com" subject="CBUSA - NCP  :  {0}" async="true" smtpPort="0" useSsl="true" />
  </elmah>
  <!--End-->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.office365.com" port="587" userName="mstn@medullus.com" password="eT9BT'sb`x3V]2}%" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--<system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>-->



</configuration>