<div style="padding:10px 10px;margin-left: 45px;">
    <ul class="nav nav-pills">
        <li class="active"><a href="#">Active Contract</a></li>
        <li><a href="#">Pending Contract</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
    </ul>
</div>
