<div class="modal-body">
    <div class="block-div">
        <h4><strong>Are you sure you want to submit the NCP Quarterly Rebate Report @ViewBag.QuaterName - @ViewBag.Year to CBUSA?</strong></h4>
        <p class="colorGray fontSize16">Please note that you will not be able to edit the report after submission.</p>
        <div class="clearfix"></div>
    </div>
    <div class="maginTop20">
        <button type="button" class="btn btn-info text-uppercase" onclick="SubmitReport()" id="confirmreport">Confirm</button>
        <button type="button" class="btn btn-default new-btn" data-dismiss="modal" id="cancelreport">Cancel</button>
        
    </div>
</div>

