@*<div class="dontHaveProjectDiv">
        <div class="block-div centerAlignPosition">
            <div><img src="/content/images/logo.png" class="logo" style="display:inline;" alt="CBUSA" /></div>
            <h5>You do NOT have any projects to report for.</h5>
            <h5>Please click the 'Add Projects' link to add projects.</h5>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
        </div>
    </div>*@

<div class="modal-body">
    <div class="block-div centerAlignPosition">
        <div><img src="/content/images/logo.png" class="logo" style="display:inline;" alt="CBUSA" /></div>
        <h5>You do NOT have any projects to report for.</h5>
        <h5>Please click the 'Add Projects' link to add projects.</h5>
        <div class="clearfix"></div>
    </div>
    <div class="maginTop20">
        <a href="@Url.Action("AddProject", "Project")" class="btn btn-info text-uppercase">Add Project</a>
        @*<button type="button" class="btn btn-info text-uppercase" onclick="SubmitReport()" id="confirmreport">Add Project</button>*@
        <button type="button" class="btn btn-default new-btn"  id="cancelall">Cancel</button>
    </div>
</div>