 <!-- Start Body -->
<div class="block-div btm-top-padding15">
    <div class="mang-cont-head">
        <ul>
            <li><a title="Active Contracts">Manage NCP rebate reports</a></li>
            <li class="active-mang-cont"><a title="Pending Contracts">Create rebate reports</a></li>
            <li><a title="Pending Contracts">Compliance calculation</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="btm-top-padding15">
    <div class="table-responsive btm-top-padding15">
        <table class="table">
            <thead class="thead-bg">
                <tr>
                    <th class="text-center"><i class="fa fa-caret-down" aria-hidden="true"></i> Contract</th>
                    <th class="text-center">Manage compliance factors</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">Paint contract</td>
                    <td class="text-center">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="javascript:void(0)" title="Configure compliance factor" data-toggle="modal" data-target="#configureComplianceFactor">Configure compliance factor</a>
                            </div>
                            <div class="col-md-6">
                                <a href="javascript:void(0)" title="Override compliance factor" data-toggle="modal" data-target="#overrideComplianceFactor">Override compliance factor</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">Mainstream appliances</td>
                    <td class="text-center">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="javascript:void(0)" title="Configure compliance factor">Configure compliance factor</a>
                            </div>
                            <div class="col-md-6">
                                <a href="javascript:void(0)" title="Override compliance factor">Override compliance factor</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- End Body -->