<div style="float:right">
    <ul >
        <li><a href="default.asp" title="Home">Home</a></li>
        <li><span><a href="default.asp" title="Contracts">Contracts</a></span></li>
        <li><span><a href="default.asp" title="Surveys">Surveys</a></span></li>
        <li><span><a href="default.asp" title="Ncp Quarterly Rebate Report">Ncp Quarterly Rebate Report</a></span></li>
    </ul>
</div>