<div class="topmenu">
    <div id="MenuRight" style="float:right">
        <ul id="topul">
            <li><a style="margin-top:10px;" href="default.asp">Manage Contract</a></li>
            <li><span><a style="margin-top:10px;" href="default.asp" >Pending Contract</a></span></li>

            <li><span><a style="margin-top:10px;" href="default.asp">Manage Survey</a></span></li>
            <li><span><a style="margin-top:10px;" href="default.asp">Create Survey</a></span></li>

            <li><span><a style="margin-top:10px;" href="default.asp">Manage NCP rebete reports</a></span></li>
            <li><span><a style="margin-top:10px;" href="default.asp">Create  rebete reports</a></span></li>
            <li><span><a style="margin-top:10px;" href="default.asp" >Compliance Calculation</a></span></li>
        </ul>
    </div>
</div>
