<div class="row margin-top20 btm-top-padding15">
    <div class="col-md-5 col-md-offset-7 maginTop10">
        <div class="row">
            <div class="col-md-7"><a href="@Url.Action("NcpRebateReportHistory", "Builder")" title="Ncp Rebate Report History"><i class="fa fa-folder-open editPreSarvyIcon pull-left" aria-hidden="true"></i> <div class="pull-left marginTop2"> NCP Rebate Report History</div></a></div>
            <div class="col-md-5">
                <a href="@Url.Action("AddProject", "Builder")" title="Add Projects"><i class="fa fa-files-o editPreSarvyIcon pull-left" aria-hidden="true"></i> <div class="pull-left marginTop2"> Manage Projects</div></a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="text-center btm-top-padding15">
    <h3><strong>All your NCP Quarterly Rebate Reports are Submitted.</strong></h3>
    <h4>You can view the submitted reports by clicking 'NCP Rebate Report History' link.</h4>
</div>